.tariff {
    overflow: hidden;
    position: relative;
    &__wrap {
        padding-top: 100px;
        padding-bottom: 57px;
        overflow: hidden;
    };

    &__table {
        border-collapse: collapse;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s ease-in-out;
        margin-bottom: 42px;
    };

    &__toggles {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    };

    &__text {
        text-transform: uppercase;
    }

    &__column-head {
        box-sizing: border-box;
        background-color: $blue;
        border-left: 3px solid $grey;
        text-align: center;
        height: 94px;
        & .tariff__text:nth-child(1) {
            margin-top: 0;
            margin-bottom: 10px;
        }
        & .tariff__text:nth-child(2) {
            margin: 0;
        }
        &:nth-child(2) {
            border-left: 3px solid $blue;  
        }
        &:last-child {
            border-right: 3px solid $blue;
        }
        &--empty {
            background-color: inherit;
            display: none;
        }
        &--special {
            position: relative;
            overflow: hidden;
            &::before {
                content: 'ХИТ';
                display: block;
                color: $white;
                box-sizing: border-box;
                line-height: 20px;
                font-size: 14px;
                position: absolute;
                left: -30px;
                transform: translateX(-2%);
                width: 120px;
                height: 23px;
                background-color: $red;
                rotate: -45deg;
            };
        };
        
    };

    &__line {
        & .tariff__value:nth-child(n+2) {
            border-top: 3px solid $blue;
        }
    };

    &__line-head {
        display: none;
    };

    &__value {
        box-sizing: border-box;
        min-width: 87.5vw;
        height: 59px;
        background-color: $white;
        border: 3px solid $grey;
        &--yes {
            background-image: url("./images/yes.svg");
            background-repeat: no-repeat;
            background-position: center center;
        };
        &--no {
            background-image: url("./images/no.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    };

    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        &__value {
            min-width: 153px;
            height: 45px;
        }
        &__toggles {
            display: none;
        }
        &__line-head {
            display: table-cell;
            padding-left: 15px;
        }
        &__column-head {
            height: 75px;
            &--empty {
                display: initial;
            }
            &--special {
                &::before {
                    left: -40px;
                    height: 19px;
                    line-height: 16px;
                };
            };
        }
    }

}