mixin main-nav(current)
    nav.main-nav
        ul.main-nav__list.text__heading
            li.main-nav__item(class= current="main" ?"main-nav__item--active":"")
                a.main-nav__link(href="./index.html") Главная
            li.main-nav__item
                a.main-nav__link(href="./gallery.html") Фотографии
            li.main-nav__item
                a.main-nav__link(href="./form.html") Конкурс
            li.main-nav__item
                a.main-nav__link(href="./about-blanc.html") О нас
                
