.download {
    position: relative;
    &__wrap {
        background: url('./images/back-mobile.jpg') center center no-repeat;
        background-size: cover;
        padding-top: 66px;
    }
    &__title {
        margin-bottom: 35px;
        margin-top: 30px;
    };
    &__demo {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    };
    &__choise {
        display: flex;
        flex-flow: column;
        align-items: center;
    };

    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        &__wrap {
            padding-top: 184px;
        }
        &__title{
            width: 300px;
            position: absolute;
            margin-top: 0;
            margin-left: 3%;
            font-weight: 300;
            font-size: 40px;
            line-height: 1.2;
        }
        &__demo {
            margin-right: 0;
        }
        &__choise {
            position: absolute;
            bottom: 80px;
            background: none;
            width: 300px;
            padding-left: 3%;
        }
    }
}