.slider {
    position: relative;
    touch-action: pan-y;
    &__item {
        width: 100%;
        transition: 0.5s ease-in;
        opacity: 0;
        position: absolute;
        z-index: -1;
        display: block;
        left: 0;
        top: 0;
        transform: translateX(-50%);
        &--active {
            opacity: 1;
            position: static;
            transform: translateX(0);
            transition: 0.3s ease-in;
            z-index: 1;
        }
    };
    &__toggles {
        display: flex;
        justify-content: center;
        column-gap: 15px;
        align-items: center;
        height: 12px;
    };
    &__toggle {
        padding: 0;
        margin: 0;
        border: none;
        position: relative;
        background: none;
        cursor: pointer;
        width: 15px;
        height: 15px;
        
        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: #283645;
            opacity: 0.3;
            border-radius: 6px;
            transition: 0.1s;
            scale: 0.9;
            @include pos-center-center;   
        }
        &:hover {
            opacity: 0.6;
        };
        &:active {
            opacity: 0.1;
        };
        &--current::before {
            box-sizing: content-box;
            background-color: #FFFFFF;
            border: 3px solid #283645;
            opacity: 1;
            &:hover {
                opacity: 1;
            };
            &:active {
                transition: 0.2s;
                scale: 0.75;
            };
        }
    };
    &__btn {
        width: 22px;
        height: 41px;
        border: none;
        cursor: pointer;
        background: url('./images/icon-arrow.svg') center no-repeat;
        margin: 0;
        padding: 0;
        opacity: 0.3;
        transition: all .2s ease-in-out;
        &--right {
            rotate: 180deg;
            &:hover {
                transform: translate(-50%, 50%) scale(1.5); 
            }
        }
        &--left {
            &:hover {
                transform: translate(-50%, -50%) scale(1.5);
            }
            
        }
        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.1;
        }
    }
}