.button {
    background: inherit;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 14px 14px;
    transition: 0.1s;

    &:hover {
        background-color: $white;
        color: $red;
    }
    &:active {
        color: #F2BFCC;
    }
}