.button {
    background: inherit;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 14px 14px;
    transition: 0.1s;

    &:hover {
        background-color: $white;
        color: $red;
    } 
    &:active {
        color: #F2BFCC;
    }

    &--form {
        border-radius: 1px;
        background: $green;
        text-transform: uppercase;
        border: 2px solid $green;
        padding: 17px;
        &:hover {
            background: $greenHover;
            border-color: $greenHover;
            color: $white;
        }
        &:active {
            color: rgba($white, 30%);
        }
        &:disabled {
            border: 2px solid $grey;
            background: $grey;
        }
    }
    &--red {
        border-color: $red;
        color: $red;
        &:hover {
            color: $white;
            background-color: $red;
        }
        &:active {
            color: rgba($white, 30%);
        }
    }
    &--grey {
        border-color: rgba($blue, 10%);
        color: rgba($blue, 10%);
        &:hover {
            border-color: rgba($blue, 30%);
            color: rgba($blue, 30%);
            background-color: inherit;
        }
        &:active {
            border-color: rgba($blue, 0%);
            color: rgba($white, 30%);
            background-color: rgba($blue, 30%);
        }
    }
}