@keyframes popup {
    0%{
      transform: translateY(-100%);
      opacity: 0;
    }
    100%{
        transform:translateY(0%);
        opacity: 1;
    }
}

@keyframes popupdesk {
    0%{
      transform: translateY(-100%) translateX(-50%);
      opacity: 0;
    }
    100%{
        transform:translateY(0%) translateX(-50%);
        opacity: 1;
    }
}

.page-header {
    width: 100vw;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0,0,0,0.3);
    z-index: 2;
    left: 0;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    animation: popup 0.4s;
    animation-timing-function: ease-in-out;

    &__plank {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box; 
    }

    &--opened {
        background-color: $blue;
    }

    &__plank{ 
        height: 69px;
    }

    &--opened &__plank{ 
        border-bottom: solid 1px $black;
    }

    &--opened .main-nav{
        display: block;
    }

    &--opened .burger {
        min-width: initial;
        width: 23px;
        height: 23px;
        display: block;
        margin-right: 12px;
    }

    &--opened .burger__line {
        border-radius: 0;
        transition: 0.2s;
    }

    &--opened .burger__line:nth-child(2) {
        opacity: 0;
    }

    &--opened .burger__line:nth-child(1) {
        transform: translate(0, 200%) rotate(45deg);
        -webkit-transform: translate(0, 200%) rotate(45deg);
    }

    &--opened .burger__line:nth-child(3) {
        transform: translate(0, 0) rotate(-45deg);
        -webkit-transform: translate(0, 0) rotate(-45deg);
    }

    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        &__plank{ 
            height: 110px;
        }
    }

    @include breakpoint (min-width, $desktop-width-Breakpoint) {
        position: absolute;
        flex-wrap: nowrap;
        transform: translateX(-50%);
        left: 50%;
        max-width: 1200px;
        margin-bottom: -110px;
        padding-right: 130px;
        animation: popupdesk 0.4s;
        &__plank {
            width: min-content;
        }
    }
}