mixin social-list(className)
    ul.social-list(class=className)
        li.social-list__item
            a.social-list__link.social-list__link--twitter(href="#")
        li.social-list__item
            a.social-list__link.social-list__link--facebook(href="#")
        li.social-list__item
            a.social-list__link.social-list__link--youtube(href="#")
