.approve {
    &__text {
        padding-left: 27px;
        padding-right: 27px;
    }
    @include breakpoint(min-width, $tablet-width-Breakpoint) {
        &__text {
            padding-left: 41px;
            padding-right: 41px;
        }
        
    }
    @include breakpoint(min-width, $desktop-width-Breakpoint)  {
        &__text {
            padding-left: 201px;
            padding-right: 201px;
        }
        
    }
}