.benifits {
    padding-top: 46px;
    &__slogan {
        margin: 0 0 30px;
    };
    &__list-wrap {
        position: relative;
        z-index: 1;
        padding-top: 85px;
    };
    &__list {
        list-style: none;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        flex-flow: column;
        gap: 20px;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
    };
    &__title {
        margin-top: 0;
        margin-bottom: 16px;
    };
    &__item-img{
        min-height: 230px;
        position: relative;
    };
    &__image {
        display: block;
        margin: 0 auto;
        position: absolute;
        left:50%;
        bottom: -45px;
        transform:translateX(-50%);
        object-fit: contain;
    };

    @include breakpoint (min-width, $tablet-width-Breakpoint){
        padding-top: 56px;
        overflow: hidden;
        &__slogan {
            margin: 0;
            font-weight: 300;
        font-size: 40px;
        line-height: 1.35;
        }
        &__slogan:nth-child(2) br{
            display: none;
        }
        &__list-wrap {
            display: flex;
            flex-direction: row-reverse;
            padding-top: 28px;
        }
        &__list {
            width: 50%;
            overflow: visible;
            &:nth-child(1) {
                margin-bottom: 0;
                margin-top: 54px;
                gap: 25px;
                text-align: left;
            }
        }
        &__title {
            text-align: left;
        }
        &__item-img {
            min-height: 480px;
        }
        &__image {
           bottom: initial;
           top: 0px;
        }
    }

    @include breakpoint (min-width, $desktop-width-Breakpoint) {
        padding-top: 70px;
        &__slogan {
            font-size: 50px;
        }
        &__list-wrap {
            padding-top: 0;
            margin-top: 80px;
            flex-flow: column-reverse;
            padding-bottom: 55px;
        }
        &__list {
            flex-direction: row;
            position: relative;
            gap: 0;
            overflow: hidden;
            &:nth-child(1) {
                margin-top: -20px;
                width: 97%;
                align-self: center;
                justify-content: space-around;
            }
            &:nth-child(2) {
                top: -80px;
                width: 100%;
            }
        }
        &__item {
            justify-content: center;
            width: 27%;
        }
        &__item-img {
            display: list-item;
            flex-grow: 1;
            min-height: 382px;
            background: url('./images/shadow.svg') 0 103% no-repeat;
    
        }
        &__image {
            position: relative;
            transform: translateY(80px);
            left: 0;
        }
        &__title {
            text-align: center;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 30px
        }
        &__text {
            text-align: center;
            font-size: 18px;
            margin: 0;
        }
    }
    
}