.page-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 40px;

    &__social {
        padding: 0;
    };

    &__logo:hover .page-footer__img{
        fill: $red;
    }
    &__logo:active .page-footer__img {
        opacity: 0.3;
        &:nth-child(1){
            fill: initial;
        }
    }
    
    &__copyright {
        font-style: normal;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover .page-footer__img {
            fill: $blue;
            transition: 0.2s;
        }
        &:active .page-footer__img {
            opacity: 0.3;
        }
    };
    &__svg {
        margin-left: 13px;
    }

    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        flex-flow: row;
        justify-content: space-between;
    }

    @include breakpoint (min-width, $desktop-width-Breakpoint) {
        padding-top: 70px;
        padding-bottom: 70px;
        &__copyright {
            font-size: 18px;
        }
    }
}