mixin research(className)
    section.research(class=className)
        img.research__img(src="./images/research-img.svg" alt="Картинка с изображением часов, 24 часа" width="238px" height="276px")
        .research__wrap
            h2.research__title.text__heading.text__heading--black.text__heading--big Эффект<br>на 24 часа!
            p.research__text.text__small Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
            a.research__link.text__small(href="#") Узнать больше об исследовании
