.burger {
    position: relative;
    border: none;
    cursor: pointer;
    background: transparent;
    min-width: 50px;
    display: flex;
    flex-flow: column;
    row-gap: 6px;
    align-items: center;
    padding: 0;
    user-select: none;
    &:hover &__line{
        background-color: $red;
    }

    &:active &__line{
        opacity: 0.3;
    }

    &__line {
        width: 100%;
        height: 4px;
        background-color: $white;
        box-sizing: border-box;
        border-radius: 1px;
        transition: 0.2s;
        user-select: none;
    }
}