.page-footer__copyright {
    font-style: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';
        display: block;
        width: 27px;
        height: 34px;
        background: url('./images/htmlacademy.svg') center no-repeat;
        margin-left: 15px;
    }
}