.reviews {
    padding-top: 45px;
    padding-bottom: 35px;
    &__wrap {
        padding-bottom: 37px;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    };
    &__item {
        
    }
    &__title {
        margin: 0 0 20px;
    };
    &__toggles {
        @include pos-center;
        bottom: 0;
    };
    &__info {
        display: none;
    }
    &__btn {
        display: none;
    }
    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        padding-top: 90px;
        &__item {
            display: flex;
            flex-flow: column;
        }
        &__title {
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 20px;
        }
        &__text {
            order: -1;
            font-size: 18px;
            line-height: 1.7;
        }
        &__info {
            display: block;
            margin-top: 10px;
        }
    }

    @include breakpoint (min-width, $desktop-width-Breakpoint) {
        padding-top: 72px;
        &__wrap {
            &::before {
                content: '';
                display: block;
                width: 79px;
                height: 63px;
                margin: 0 auto;
                background: url('./images/icon-quotes.svg');
            }
        }
        &__list {
            margin-top: 25px;
            padding-left: 126px;
            padding-right: 126px;
        }
        &__title {
            font-size: 24px;
            margin-top: 25px;
        }
        &__info {
            font-size: 18px;
        }

        &__item {
            top: 90px
        }

        &__btn {
            display: block;
            position: absolute;
            top: 45%;
            &--left {
                left: 0;
                transform: translateY(-50%);
            }
            &--right {
                right: 0;
                transform: translateY(50%);
            }
        }
    }
}