.tariff__column-head {
    background-color: $blue;
    border-left: 3px solid $grey;
    text-align: center;
    height: 94px;
    & .tariff__text:nth-child(1) {
        margin-top: 0;
        margin-bottom: 10px;
    }
    & .tariff__text:nth-child(2) {
        margin: 0;
    }
    &:nth-child(2) {
        border-left: 3px solid $blue;
        
    }
    &:last-child {
        border-right: 3px solid $blue;
    }
    &--empty {
        background-color: inherit;
        display: none;
    }
    &--special::before {
        content: '';
        
    }
}