extends ./layouts/mainLayout

include ../sections/download/download
include ../sections/benifits/benifits
include ../sections/research/research
include ../sections/reviews/reviews
include ../sections/tariff/tariff
include ../sections/contacts/contacts
include ../sections/map/map

append script
    script(src="./js/slider.js" async)
    script(src="./js/slider-table.js" async)


block main
    main.page-main
        h1.visually-hidden(tabindex="1") Pink - Приложения для хорошего настроения

        +download
        +benifits
        +research("container")
        +reviews("container")
        +tariff()
        +contacts("container")
        +map()
