include ../../elements/input/input
include ../../elements/checkbox/checkbox
include ../../elements/radiobox/radiobox
include ../../elements/textarea/textarea
include ../../blocks/button/button

mixin form(className)
    section.form 
        h2.form__title.text__small(class=className) Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! <span class="form__span"> Пожалуйста, заполните форму ниже:
        form.form__set
            fieldset.form__field
                ul.form__list
                    li.form__item 
                        +input("familyName", "ФАМИЛИЯ:", "Укажите фамилию *")
                    li.form__item
                        +input("userName", "ИМЯ:", "Введите ваше имя *")
                    li.form__item
                        +input("surName", "ОТЧЕСТВО:", "Ну и отчество тоже")
            fieldset.form__field.form__field--checkbox
                legend.form__legend Ваши безбашенные достижения в путешествии
                ul.form__list
                    li.form__item
                        +checkbox("selfie","Сделал селфи с акулой","selfie")
                    li.form__item
                        +checkbox("Burnt","Обгорел на пляже","Burnt")
                    li.form__item
                        +checkbox("Norris","Видел Чака Норриса","Norris")
                    li.form__item
                        +checkbox("souvenir","Накупил сувениров","souvenir")
                    li.form__item
                        +checkbox("tower","Удержал башню","tower")
                    li.form__item
                        +checkbox("hotel","Разгромил отель","hotel")
            fieldset.form__field
                legend.form__legend контактная информация
                ul.form__list 
                    li.form__item
                        +input("userTel", "НОМЕР ТЕЛЕФОНА", "Номер, пожалуйста", "tel")
                    li.form__item
                        +input("userEmail", "АДРЕС ПОЧТЫ", "Введите почту *", "email") 
            fieldset.form__field
                legend.form__legend С каким приложением путешествовали?
                ul.form__list 
                    li.form__item
                        +radiobox("iOs", "Pink для iOS", "iOs", "true")
                    li.form__item
                        +radiobox("Android", "Pink на Android", "Android", "true")
                    li.form__item
                        +radiobox("Windows", "Windows Phone", "Windows", "true")
            fieldset.form__field
                legend.form__legend ОПИШИТЕ СВОИ ЭМОЦИИ
                +textarea("feedback","Можно прям в красках,не стесняясь в выражениях")
            +button("form__button", "Отправить форму") 
            p * — обязательные поля