.form {
    padding-top: 50px;
    padding-bottom: 20px;
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    &__span {
        display: none;
    }
    &__set {
        display: flex;
        flex-wrap: wrap;
    }
    &__field {
        border: none;
        padding-top: 40px;
        padding-bottom: 42px;
        margin: 0;
        width: 100%;
    }
    &__legend {
        padding: 40px 30px 0;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.3em;
        &--hidden {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: 26px;
        &--checkbox {
            row-gap: 43px;
        }
        &--radiobox {
            row-gap: 34px;
        }
    }
    &__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    &__button {
        width: 100%;
        max-width: 276px;
        margin: 0 auto;
    }
    &__note {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 0;
        span {
            color: $red;
        }
    }
    

    @include breakpoint(min-width, $tablet-width-Breakpoint) {
        padding-top: 95px;
        padding-bottom: 50px;
        padding: 95px 20px 50px;
        &__set {
            row-gap: 60px;
            justify-content: space-between;
        }
        &__title {
            max-width: 490px;
            margin: 0 auto;
            font-size: 18px;
            margin-bottom: 80px;
        }
        &__span {
            display: block;
        }
        &__field {
            border: 2px solid $grey;
            border-radius: 1px;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 60px;
            padding-bottom: 55px;
            &--fio {
                border: 0;
                order: 1;
                padding: 0;
                .form__item {
                    flex-wrap: initial;
                }
                .form__list {
                    row-gap: 52px;
                }
            }
            &--app {
                order: 2;
                border: 2px solid $grey;
                border-radius: 1px;
            }
            &--contacts {
                padding-top: 50px;
                order: 3;
                .form__list {
                    row-gap: 36px;
                }
                .form__item {
                    flex-direction: column-reverse;
                    row-gap: 17px;
                }
            }
            &--achive {
                order: 4;
            }
            &--textarea {
                order: 5;
            }
        }
        &__legend {
            padding: 0px 20px 0;
            &--hidden {
                position: initial;
                opacity: 1;
            }
        }
        &__button {
            order: 6;
            max-width:296px;
            margin: 0;
        }
        &__note {
            order: 7;
            width: initial;
            margin: 0px;
            align-self: center;
        }
    }

    @include breakpoint(min-width, $desktop-width-Breakpoint) {
        padding: 95px 130px 0;
        &__title {
            max-width: 755px;
            margin-bottom: 70px;
        }
        &__span {
            display: inline-block;
        }
        &__field {
            &--fio {
                width: 46%;
                align-self: center;
            }
            &--app {
                box-sizing: border-box;
                width: 46%;
                padding-top: 50px;
                padding-left: initial;
                padding-right: initial;
            }
            &--contacts {
                padding-bottom: 23px;
                .form__list {
                    justify-content: space-between;
                }
                .form__item {
                    width: 46%;
                }
            }
            &--textarea {
                padding-top: 47px;
                padding-bottom: 44px;
            }
        }
        &__list {
            &--radiobox {
                margin-left: 72px;
                row-gap: 39px;
            }
            &--checkbox {
                justify-content: space-between;
                align-items: center;
                column-gap: 25px;
                .form__item {
                    width: 26%;
                    flex-wrap: nowrap;
                    flex-shrink: 1;
                    flex-grow: 1;
                    align-items: center;
                }
            }
        }
    }
}