mixin form(className)
    section.form 
        h2.form__title.text__small(class=className) Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! <span class="form__span"> Пожалуйста, заполните форму ниже: