.form {
    padding-top: 50px;
    padding-bottom: 20px;
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    &__span {
        display: none;
    }
    &__set {
        display: flex;
        flex-wrap: wrap;
    }
    &__field {
        border: none;
        padding-top: 40px;
        padding-bottom: 42px;
        margin: 0;
        &--textarea {
            width: 100%;
        }
    }
    &__legend {
        padding: 40px 30px 0;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.3em;
        &--hidden {
            position: absolute;
            opacity: 0;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: 26px;
        &--checkbox {
            row-gap: 43px;
        }
        &--radiobox {
            row-gap: 34px;
        }
    }
    &__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    &__button {
        min-width: 276px;
        margin: 0 auto;
    }
    &__note {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 0;
        span {
            color: $red;
        }
    }
    

    @include breakpoint(min-width, $tablet-width-Breakpoint) {
        padding-top: 95px;
        padding-bottom: 50px;
        &__title {
            max-width: 490px;
            margin: 0 auto;
            font-size: 18px;
            margin-bottom: 80px;
        }
        &__span {
            display: block;
        }
    }

    @include breakpoint(min-width, $desktop-width-Breakpoint) {
        padding-bottom: 0px;
        &__title {
            max-width: 755px;
            margin-bottom: 70px;
        }
        &__span {
            display: inline-block;
        }
    }
}