mixin map(className)
    section.map(class=className)
        h2.visually-hidden Геолокация
        iframe.map__frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae2c57e8af71eb0c4752b840a7394f974ce39241eaa636dbbe5f55219fae6bae5&amp;source=constructor" width="100%" height="200px" frameborder="0")