.contacts {
    padding-top: 40px;
    padding-bottom: 35px;
    

    &__slogan {
        margin: 0;
    };

    &__info {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 25px;
    };

    &__head {
        margin:0;
    };

    &__link {
        margin: 0;
        overflow-wrap: anywhere;
        &[href]:hover {
            color: $blue;
            text-decoration-line: underline;
        };
        &[href]:active {
            opacity: 0.3;
            text-decoration-line: none;
        };
    };
}