.text__heading {
    font-weight: 700;
    font-size: 18px;
    color: $white;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    &--black {
        color: $black;
    }
    &--blue {
        color: $blue;
    }
    &--small {
        font-size: 16px;
    }
}