.benifits__list {
    list-style: none;
    padding: 0 20px;
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 10px;
    overflow: hidden;
}