.apps {
    background-color: #1D2631;
    padding-bottom: 35px;
    padding-top: 28px;
    row-gap: 30px;
    &__button {
        width: 100%;
        max-width: 280px;
    };
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 35px;
    };
    &__link {
        display: block;
        transition: 0.1s ease-out;
        &:hover {
            transform: scale(1.15);
        }
        &:active {
            transform: scale(0.9);
        }
        &::before {
            content: '';
            width: 47px;
            height: 56px;
            display: block;
            background-color: white;
            
        };
        &--ios::before {
            background: url("./images/apple-logo.svg") center center no-repeat;
        }
        &--android::before {
            background: url("./images/android-logo.svg") center center no-repeat;
        }
        &--windows::before {
            background: url("./images/microsoft-logo.svg") center center no-repeat;
        }
    };
    &__description {
        margin: 0;
    }

    @include breakpoint (min-width, $tablet-width-Breakpoint) {
        row-gap: 35px;
        &__button {
            max-width: 100%;
            margin-bottom: 10px;
        }
        &__description {
            font-size: 18px;
            line-height: 1.4;
        }
    }
}