.apps__link {
    display: block;
    &::before {
        content: '';
        width: 47px;
        height: 56px;
        display: block;
        background-color: white;
    };
    &--ios::before {
        background: url("../img/apple-logo.svg") center center no-repeat;
    }
    &--android::before {
        background: url("../img/android-logo.svg") center center no-repeat;
    }
    &--windows::before {
        background: url("../img/microsoft-logo.svg") center center no-repeat;
    }
}
